<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to 'Edit your article', article_edit_path %>
<%= link_to 'Delete your article', article_delete_path, data: {turbo_method: :delete}%>
<%= link_to 'Home', articles_path %>
